<!-- +++++ Footer Section +++++ -->

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Have a Project?</h4>
                <p>
                    <a href='mailto:krsarmiento@gmail.com'>krsarmiento@gmail.com</a> <br/>
                    <a href='tel:+573004359116'>+57 300 4359 116</a>.
                </p>
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4"></div>

            <div class="col-lg-4">
                <h4>About this site</h4>
                <p>
                    Powered by: <br/>
                    <a href="//getbootstrap.com" target="_blank">Bootstrap 3</a> & 
                    <a href="//silex.sensiolabs.org" target="_blank">Silex</a>
                </p>
            </div><!-- /col-lg-4 -->

        </div>

    </div>
</div>