<div class="modal fade" id="movieModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{ movie.title }}</h4>
      </div>
      <div class="modal-body">
          {{ movie.my_rating }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a class="btn btn-primary" target="_blank" href="{{ imdb_url }}{{ movie.code }}">Watch on IMDb</a>
      </div>
    </div>
  </div>
</div>