{% extends 'layout.html.twig' %}

{% block custom_js %}
<script type="text/javascript" src="{{assets}}/js/functions.js"></script>
<script type="text/javascript">
    function displayMovie(id) {
        $.getJSON( 'ajax/movie/data/' + id, function( data ) {
            $('#movieModalTitle').html(data.movie.title + " (" + data.movie.year + ")");
            $('#movieModalPlot').html(data.movie.plot);
            
            var myRating = parseFloat(data.movie.my_rating).toFixed(1);
            var imdbRating = parseFloat(data.movie.imdb_rating).toFixed(1);
            var metascore = parseFloat(data.movie.metascore).toFixed(1);
            
            if (data.movie.my_rating == 10)
                myRating = 10;
            
            if (data.movie.metascore == 0.0)
                metascore = 'N/A';
            
            if (data.movie.metascore == 10)
                metascore = 10;
            
            $('#movieModalMyRating').html(myRating);
            $('#movieModalImdbRating').html(imdbRating);
            $('#movieModalMetacriticRating').html(metascore);
            
            $('#movieModalImdbUrl').attr('href', data.imdb_url +data.movie.code);
            $('#movieModalPoster').html("<img style='max-width: 264px;' src='load/poster/"+data.movie.id+"' />");
            $('#movieModal').modal('show');
        });
    }
</script>
{% endblock %}


{% block body %}

<div class="container pt">
    <div class="row mt">
        <div class="col-lg-6 col-lg-offset-3 centered">
            <h3>Movies</h3>
            <hr>
            <button class="btn btn-lg btn-warning" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-facetime-video" style="color: white; font-size: 15px"></span> 
                App Info
            </button>
        </div>
    </div>
</div>

<!-- +++++ First Post +++++ -->
<div id="grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>
                    <a href="http://www.aha-soft.com" target="_blank" style="cursor: default">
                        <img src="{{assets}}/img/trailer.png" width="50px" height="50px">
                    </a>
                <ba>My Ratings</ba>
                </p>
                {% include 'include/ratings.html.twig' %}
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /grey -->

<!-- +++++ Second Post +++++ -->
<div id="white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>
                    <a href="http://www.aha-soft.com" target="_blank" style="cursor: default">
                        <img src="{{assets}}/img/cinema.png" width="50px" height="50px">
                    </a>
                <ba>Most Viewed</ba>
                </p>
                {% include 'include/most_viewed.html.twig' %}
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /white -->



<!-- Modals -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">App Info</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <p>
                    I'm a huge movie fan and, for the sake of boredom and to prove I know how to do a "Hello World!", 
                    I decided to create a mini movie app using my IMDb account and the OMDb API. 
                </p>
                <p>
                    You are free to call it however you want, but I like to name it <br/>
                    <strong>Super Movie App That Can Rate Using Float Numbers Unlike IMDb</strong>, or <em>SMATCRUFNUI</em>.
                </p>
                <p>
                    Information courtesy of
                    IMDb
                    (http://www.imdb.com).
                    Used with permission.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="movieModal" tabindex="-1" role="dialog" aria-labelledby="movieModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="movieModalTitle"></h4>
      </div>
      <div class="modal-body">
          
          
          <div class="row">
              
            <div class="col-md-6">
                <div id="movieModalPoster"></div>
            </div>
              
            <div class="col-md-6">
                <h2>Plot</h2>
                <div id="movieModalPlot"></div>
                <hr/>
                <h2>Ratings</h2>
                <div class="row" style="font-size: 20px">
                
                    <div class="col-md-6">
                        My Rating
                        <br/>
                        IMDb
                        <br/>
                        Metacritic
                    </div>
                    
                    <div class="col-md-6" style="font-family: Courier New">
                        <span class="label label-primary" id="movieModalMyRating"></span>
                        <br/>
                        <span class="label label-warning" id="movieModalImdbRating" style="background-color: #DDCC00; color: #000"></span>
                        <br/>
                        <span class="label label-success" id="movieModalMetacriticRating" style="background-color: #6c3"></span>
                    </div>

                </div>
                
            </div>

              
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a class="btn btn-warning" id="movieModalImdbUrl" target="_blank" href=" imdb_url  movie.code ">Watch on IMDb</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}