{% extends 'layout.html.twig' %}

{% block body %}

<!-- +++++ Welcome Section +++++ -->
<div id="ww">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <img src="{{assets}}/img/user.png" class="grow-rotate">
                <h1>I'm Kevin!</h1>
                <p>
                    Hello everybody. I'm Kevin, a Software Developer and an Devoted Cinephile. <br/>
                    I <span class="glyphicon glyphicon-heart" style="font-size: 15px"></span> Web Development and
                    I currently live in Cartagena de Indias (AKA La Fantástica).
                </p>

            </div><!-- /col-lg-8 -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /ww -->


<!-- +++++ Information Section +++++ -->

<div class="container pt">
    <div class="row mt centered">
        <h4>BASIC COMPONENTS OF MY LIFE</h4>
        
        {% set component = 'include/component.html.twig' %}
        
        <br/>
        
        {% include component with {'url': 'movies', 'icon': 'film', 'name': 'Movies'} %}
        {% include component with {'url': 'software', 'icon': 'th-large', 'name': 'Software'} %}
        {% include component with {'url': 'social', 'icon': 'globe', 'name': 'Social'} %}

    </div><!-- /row -->
    
    <br/>

    <div class="row mt">

        <div class="col-lg-12">
            <h4>THE SKILLS</h4>

            {% set bar = 'include/progress.html.twig' %}
            
            <h3>
                <span class="label label-success">Symfony</span>
                <span class="label label-primary">PHP</span>
                <span class="label label-info">Twig</span>
                <span class="label label-default">Doctrine</span>
                <span class="label label-danger">Silex</span>
            </h3>
            {% include bar with {'progress': 90} %}

            <h3>
                <span class="label label-warning">Django</span>
                <span class="label label-danger">Python</span>
            </h3>
            {% include bar with {'progress': 85} %}

            <h3>
                <span class="label label-default">Java</span>
            </h3>
            {% include bar with {'progress': 80} %}

            <h3>
                <span class="label label-info">JQuery</span>
                <span class="label label-success">Javascript</span>
            </h3>
            {% include bar with {'progress': 70} %}

            <h3>
                <span class="label label-danger">MongoDB</span>
                <span class="label label-primary">Bootstrap</span>
                <span class="label label-info">REST</span>
                <span class="label label-warning">Web Scraping</span>
            </h3>
            {% include bar with {'progress': 50} %}
            
        </div><!-- /col-lg-6 -->
    </div><!-- /row -->
</div><!-- /container -->

{% endblock %}