{% extends 'layout.html.twig' %}

{% block body %}

<div class="container pt">
    <div class="row mt">
        <div class="col-lg-6 col-lg-offset-3 centered">
            <h3>Movies</h3>
            <hr>
            <p>
                I'm a huge movie fan and, for the sake of boredom and to prove I know how to do a "Hello World!", 
                I decided to create a mini movie app using my IMDb account and the OMDb API. 
            </p>
            <p>
                You are free to call it however you want, but I like to name it <br/>
                <strong>Super Movie App That Can Rate Using Float Numbers Unlike IMDb</strong>, or <em>SMATCRUFNUI</em>.
            </p>

            <a class="btn btn-lg btn-warning" href="/freelance/movies/smatcrufnui">
                <span class="glyphicon glyphicon-facetime-video" style="color: white; font-size: 15px"></span> 
                Go to the app
            </a>
        </div>
    </div>
</div>

{% endblock %}